h1{
  text-align: center;
  color: #191970;
  font-family: verdana;
  font-size: 30px;
  background-color: white;
  margin: 50px 500px 50px 500px;
}

body {
  background-color: white;
  background-image: url("compu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 100px;
}


#texto1{
  /*border-style: solid;
  border-color: white;
  background-color: lightgrey;
  border-radius: 5px;*/
  margin: 150px 700px 0px 310px;

}

#texto2{
  /*border-style: solid;
  border-color: white;
  background-color: lightgrey;
  border-radius: 5px;*/
  margin: 0px 700px 0px 810px;
}
